<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Data</title>
</head>
<body>
            <h1> <%=query%> </h1>
            <h2> Total number of cases is <%=total%></h2>
            <h2> Total number of deaths is <%=deaths%></h2>
            <h2> Total number of recoveries is <%=recovered%></h2>
            <a href="/dashboard">Go back</a>
            
</body>
</html>