<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>COVID-19 Data</title>
</head>
<body>
    <h1>COVID-19 DATA</h1>
    <form action="/dashboard" method="post">
        <h3>Enter the name of the country you want data for</h3>
        <input placeholder="Enter country name" type="text" id="country" name="countryName">
        <button type="Submit">Submit</button>
    </form>

    <p>Note:Some countries may not have accurate data. Country names are accepted as per ISO. For example you can use France,Finland,Ireland,Japan</p>

    
</body>
</html>