<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="">
        <ul>
              <li>
                <input placeholder="Email goes here" type="email" id="mail" name="user_email" required>
              </li>
              <li>
                  <input placeholder="Password" type="password" id="password" name="user_password" required>
              </li>
             </ul>
             <button type="submit">Submit</button>

        </ul>
    </form>
    <a href="/users/register">
        Not a user? Register here
    </a>
</body>
</html>