<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="">
        <ul>
              <li>
                <input placeholder="Name goes here" type="text" id="name" name="user_name" required>
              </li>
              <li>
                <input placeholder="Email goes here" type="email" id="mail" name="user_email" required>
              </li>
              <li>
                  <input placeholder="Password" type="password" id="password" name="user_password" required>
              </li>
             </ul>
             <button type="submit">Submit</button>

        </ul>
    </form>
    <a href="/users/login">
      Already have an account? Login here
  </a>
    
</body>
</html>