<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to COVID-19 Data Website</h1>
    <p>Create an account or Login</p>
    
    <a href="./users/register">
        <button>Create Account</button>
     </a>
     <a href="./users/login">
        <button>Login</button>
     </a>
     
     
    
    
</body>
</html>